.bg-dark(style='position: absolute; width: 100%')
    .container.my-5
        .py-5
            .text-center
                h3.text-white Share it!
            .share.d-table.ml-auto.mr-auto.mt-5
                a.btn.btn-pill.btn-primary.mr-4(href='https://twitter.com/intent/tweet?url=https://fu-prod-storage.s3.amazonaws.com/content/hives/attachments/hive-1033/post-14441/Test654x234.png', title='Share Shards on Twitter')
                    | \
                    i.fa.fa-twitter.mr-1
                    |                   Share on Twitter
                a.btn.btn-pill.btn-primary.mr-4(href='https://www.facebook.com/sharer/sharer.php?u=https://fu-prod-storage.s3.amazonaws.com/content/hives/attachments/hive-1033/post-14441/Test654x234.png', title='Share on Facebook')
                    | \
                    i.fa.fa-facebook.mr-1
                    |                   Share on Facebook
        p.text-muted.text-center.small.p-0.mb-4 © Copyright 2018 — Aleksandar Gjoreski
