div
	nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
		a(href='/')
			img.mr-2(src='images/demo/shards-logo.svg', alt='Example Navbar 1', height='30px')
		a.navbar-brand(style='margin-right: inherit; margin-left: 1rem;', href='/') Д.ДРИМКОЛ
		button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarNavDropdown-2', aria-controls='navbarNavDropdown-2', aria-expanded='false', aria-label='Toggle navigation' style='border: none;')
			span
			span
			span
		#navbarNavDropdown-2.collapse.navbar-collapse.mr-auto(style='text-align: center;')
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link(href='/news')
						| Новости
						span.sr-only (current)
				li.nav-item.dropdown
					a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', \='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Турнири
					.dropdown-menu(aria-labelledby='navbarDropdownMenuLink', style='background-color: rgba(0,0,0,0.8); border: none; box-shadow: none; text-align: center;')
						a.dropdown-item(href='/ddis', style='color: white; background-color: transparent;') Д-дримколски Илинденски Средби
						a.dropdown-item(href='page_in_development.html', style='color: white; background-color: transparent;') Првомајски Турнир Пискупштина
				li.nav-item
					a.nav-link(href='page_in_development.html')
						| За Долни Дримкол
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='/peopleSay')
						| Луѓето велат...
						span.sr-only (current)
			#blang
				button.lang(value='mkd', onclick='lg(this);')
				button.lang(value='eng', onclick='lg(this);')
			div(style='text-align: center;')
				a(href='/upload')
					button.btn.btn-pill.btn-outline-success(type='button', href='/upload', style='width: 230px;')
						i.fa.fa-upload.mr-1
						|  Прикачи
script.
	var h = document.querySelector('.navbar').offsetHeight;
	console.log(h);
	var body = document.querySelector('body');
	body.style.paddingTop = h + "px";
