div
	nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: rgba(0,0,0,0.8);')
		a(href='homepage.html')
			img.mr-2(src='images/demo/shards-logo.svg', alt='Example Navbar 1', height='30px')
		a.navbar-brand(style='margin-right: inherit; margin-left: 1rem;', href='/') DDreamKol
		button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarNavDropdown-2', aria-controls='navbarNavDropdown-2', aria-expanded='false', aria-label='Toggle navigation' style='border: none;')
			span
			span
			span
		#navbarNavDropdown-2.collapse.navbar-collapse.mr-auto(style='text-align: center;')
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link(href='/news')
						| News
						span.sr-only (current)
				li.nav-item.dropdown
					a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', \='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Tournaments
					.dropdown-menu(aria-labelledby='navbarDropdownMenuLink', style='background-color: rgba(0,0,0,0.8); border: none; box-shadow: none;')
						a.dropdown-item(href='/ddis', style='color: white; background-color: transparent;') Dolnodrimkolski Ilindenski Sredbi
						a.dropdown-item(href='page_in_development.html', style='color: white; background-color: transparent;') Prvomajski Turnir Piskupshtina
				li.nav-item
					a.nav-link(href='page_in_development.html')
						| About Dolni Drimkol
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='/peopleSay')
						| People say...
						span.sr-only (current)
			#blang
				button.lang(value='mkd', onclick='lg(this);')
				button.lang(value='eng', onclick='lg(this);')
			div(style='text-align: center;')
				a(href='/upload')
					button.btn.btn-pill.btn-outline-success(type='button', href='/upload', style='width: 230px;')
						i.fa.fa-upload.mr-1
						|  Upload
script.
	function lg(el){
	jazik(el.value);
	}
	function jazik (lingua){
	//var current_page = window.location.pathname.split( '/' );
	var current_lang = lingua;
	var info = {"lang": current_lang};
	var url = 'http://80.211.7.75:3000/api/current/' + JSON.stringify(info);
	//var url = 'http://localhost:3000/api/current/' + JSON.stringify(info);
	fetch(url)
	.then(res => res.json())
	.then(data => {
	//console.log(data.uguale);
	if(data.uguale == "no"){
	location.reload();
	}else{
	if(lingua == "eng"){
	alert("You page is already in english.");
	}else{
	alert("Вашата страна е веќе на македонски.");
	}
	}
	})
	.catch(error => console.error('Error:', error));
	}

