p(style="overflow: auto;")
                        | The village of Modrich is home to an Orthodox Macedonian population, and it can be noticed that the village is spiritually protected with four monasteries, St. Nicholas at the entrance of the village, 
                        img.inTextRight(src="images/modrich/info/1.jpg", alt="St. Arangelia")
                        | St. Arangelia in the area of ​​Gradishte, St. George in Dolna Maala, St. Athanasius in Kocea Maala. At the center there is the Church Dormition of the Holy Virgin, which is well known among the people not only of Dolni Drimkol, but also as widely as among Christians, and among Muslims, according to their healing power.