p(style="overflow: auto;")
                        | It is located on the slopes of Mount Jablanica with an altitude of 900 to 1100 m. The village is of a smashed type and currently has about 50 houses with 50 permanent residents mostly old people.
                        |
                        | Modrich is famous for his unique location and clean air, the water springs for which he also featured a feature film on that topic: Vreme Vodi (Time Runs) from Branko Gapo, the hospitality and openness of people who live or come from there. It is a great place for rest, sport fishing (Debar Lake - 10 km and Globocica - 10 km), game hunting.