p(style="overflow: auto;")
                        | The Fortress which was located in Modrich during the Ottoman rule was of great importance because of its strategic position on the left bank of the river Crn Drim, right next to the road from Ohrid to Debar. On the other side of the road was Kodzagic (then Svetigrad).
                        br
                        | At the beginning of Ottoman rule, Modrich was probably even more prominent than Kodzagic.
                        br
                        img.inTextRight(src="images/modrich/info/Svetigrad.jpg", alt="Attack on Svetigrad")
                        br
                        | In November 1443, Skenderbeg rebelled against the sultan and the fortress in Modrich became his stronghold. The same is interpreted in the works of the Albanian historian and Catholic priest Marin Barletti.
                        br
                        | In 1448, Sultan Murat II besieged the fortress in Sveti-grad. The first battle between the Skanderbeg army and the Ottoman army in the Siege of Saint-Petersburg (1449) was played at the Modrich Fortress.
                        br
                        | In 1452, the Ottoman army from Ohrid attacked the Scandinavian rebels, but it was defeated in Modrich. The head of the rebels was Hamza Kastrioti.
                        br
                        | According to Stefanos Polo and Arben Puto, in 1456, the grandson of Skenderbeg, Georgi Stresi Balshic, sold the fortress of the Ottomans.
                        br
                        | In 1467, Modrich was registered as a synonym of a certain Sinan who was a dysfunctional of the Modrich fortress. It was probably destroyed to such an extent that it did not have a garrison in it, and its reconstruction was either impossible or unnecessary.
                        br
                        | Today, the remains of the walls, tombs, old coins, etc. are testifying for the fortress.
                        br
a.link(href="https://en.wikipedia.org/wiki/Siege_of_Svetigrad_(1448)")
    p 
        img(src="images/other/wikipedia.svg", alt="wikipedia")
        | Siege of Svetigrad (1448)