p(style="overflow: auto;")
                        | According to the statistics of Vasil K'nchov ("Macedonia, Ethnography and Statistics") from 1900, in Modrich lived 960 inhabitants, all macedonians.

                        | According to the secretary of the Bulgarian exarchate Dimitar Mishev, ("La Macédoine et sa Population Chrétienne") in 1905 in Modrich there were 624 Macedonians, exarchists.

                        | According to the latest census of the population of Macedonia since 2002, the village has 25 inhabitants, all Macedonians.
                        br
                        | Today, Modrich is before complete displacement due to the migration that affected the village in the second half of the 20th century.
                        br
                        | As a curiosity for people living or coming from Modrich is an unbreakable enchanting connection or nostalgia for the old region and the desire to spend as much time as possible in Modrich to contribute in some way to the revival of the village. 