p(style='text-align:left')
                        | Селото Луково се наоѓа во областа Долни Дримкол, на источните падини на планината Рујница која е северна огранка на Јабланица. Се состои од две маала: Горно и Долно. Селото е оддалечено 26 километри северно од Струга и 28 километри јужно од Дебар.