p(style='text-align:left')
                        | Според статистиката на Васил К'нчов („Македониja, Етнографиja и статистика“) од 1900 година, во Луково живееле 890 жители, сите Македонци.
                        br
                        | Според секретарот на бугарската егзархија Димитар Мишев, („La Macédoine et sa Population Chrétienne“) во 1905 година во Луково имало 816 Македонци, егзархисти.
                        br
                        | Според последниот попис на населението на Македонија од 2002 година, селото има 447 жители.
                        | Луково постојано бележи константен пад на населението, преминувајќи од голема во средна по големина населба. Најголемото намалување на бројот на жители се забележува меѓу пописните години 1971 и 1981 кога од 1.025 жители, бројот се намалил на 683, или 33,3 % помалку во однос на претходниот попис.
                        br 
                        | Селото Луково од секогаш па до денес во целост е населено со Македонци од православна христијанска вероисповед.
                        br
                        br
                        | За старински односно староседелски родови се сметаат:
                        br
                        | ・ Петановци (слават Света Петка) знаат каде им била куќата на најстарото селиште на Рујница, а се селеле и повремено живееле и во Дренок и Модрич;
                        br
                        | ・ Мурџовци и нивната родовска гранка Петлевци (слават Свети Никола) претходно живееле во Долно Луково но околу 1880-тите се преместиле во горното маало;
                        br
                        | ・ Милевци (слават Св. Петка);
                        br
                        | ・ Коловци (слават Св. Петка);
                        br
                        | ・ Маџовци (слават Св. Петка);
                        br
                        | ・ Пеповци (слават Св. Никола);
                        br
                        | ・ Баловци (слават Св. Ѓорѓи) нивните претци ненамерно го запалиле „манастирот Св. Ѓорѓи“ на десната страна на Црн Дрим, а претходно се презивале Габровци;
                        br
                        | ・ Велковци (слават Св. Архангел);
                        br
                        | ・ Шуминовци (Св. Петка) порано се презивале Марковци како што сега се презива една родовска огранка.
                        br
                        br
                        | Доселенички родови во Луково се:
                        br
                        | ・ Богадановци порано наречени Капешевци (слават Св. Ѓорѓи), а нивна родовска огранка се Лескаровци кои го добиле презимето по тоа што преминале во Горно Луково „в леска“, одамна се иселиле од нивната старина бидејќи нивен предок во одмазда убил „Турци“ кои му убиле татко или брат, по што поради пронаѓање на трагата се преселувал(е) во Стеблево и Клење во Голо Брдо пред да се доселат во Луково;
                        br
                        | ・ Ѓурѓиноски (слават Св. Архангел) по потекло се од пределот Љусња во Албанија каде веќе нема христијани;
                        br
                        | ・ Видичевци и Великичевци (слават Св. Варвара и Св. Сава) двата рода се доселиле од Гора (Призренско) првин на старото селиште Горно Село но не и на селиштето Руjница;
                        br
                        | ・ Ѓоневци (слават Св. Варвара) според преданието нивните предци некое време живееле во селото Ѓоновица кај Гостивар од каде се доселиле и веројатно го носат родовското презиме;
                        br
                        | ・ Јанчевци (слават Св. Никола) по потекло се од селото Јанче во пределот Долна Река во долината на Радика од каде пред 270 години се доселил нивниот предок Стефо. Заедничко потекло со нив имаат и Бојовци и Бојковци кои со нив се сметаат за еден род;
                        br
                        | ・ семејствата Јовчевци, Мојсовци, Стрезовци и Шапардановци (слават Св. Архангел) се еден род кои имаат заедничко потекло од околината на Скадар од каде се растуриле 8 браќа поради некое убиство порано ги носеле и родовските презимиња Карадакци, Дамјановци и Грандобуровци;
                        br
                        | ・ Ложанковци (слават Св. Никола) се доселиле пред повеќе од 120 години од селото Ложани во полето кај Струга откако го убиле својот бег кој им дошол во куќата на слава и им ги искршил грнците со подготвени јадења за славата;
                        br
                        | ・ Допчевци (слават Св. Никола) нивниот предок Постол дошол пред околу 140 години од селото Клење во Голо Брдо;
                        br
                        | ・ Добричевци (слават Св. Архангел) се со непознато потекло. 
                        br
                        br
                        | Изумреле по машка лоза, но биле обновени со домазети родовите: Опашкаровци, Волчевци, а кај Пеповци дошол некој Милош кој се доселил од Требиште во Голо Брдо како Мустафа Ајлазовски, но во 1918 тука се покрстил и останал како домазет.