p
| Nerezi is a village of 6 churches, from which 2 are ruined, while the other 4 still exist. Those churches are: St. Nicholas, the church of Holy Salvation, the church of Holy Mother the Most Innocent and St. Georges – renovated in 1833.