p
                        | Нерези во рамките на своите културно историски знаменитости вбројува една Црква и три Манастири. Св.Ѓорѓија Великомаченик Св.Спас Воведени на Пресвета Богородица Св.Никола