p
                        | Нерези во рамките на своите културно историски знаменитости вбројува една Црква и три Манастири:
                        br
                        br
                        | ・Св.Ѓорѓија Великомаченик
                        br
                        | ・Св.Спас
                        br
                        | ・Пресвета Богородица
                        br
                        | ・Св.Никола