p(style="overflow: auto;")
                        | Нерези во рамките на своите културно историски знаменитости вбројува една црква и три манастири:
                        br
                        img.inTextRight(src="images/nerezi/info/2.jpeg", alt="Sv. Gjorgija")
                        br
                        | ・Св.Ѓорѓија Великомаченик
                        br
                        | ・Св.Спас
                        br
                        | ・Пресвета Богородица
                        br
                        | ・Св.Никола
                        span.hide
                            br
                            br
                            br
                            br
                            br
                            | Десно на слика Св.Спас