p(style="overflow: auto;")
    | Селото Нерези се наоѓа во северниот дел на Општина Струга (до 2004 година, во составот на Општина Луково), односно во западниот дел на Струшкото Поле.
    | Нерези е ридско село и лежи на надморска височина од 720 до 900 метри. Селото се наоѓа на 28 километри северно од Струга и 29 километри јужно од Дебар.