p(style="overflow: auto;")
    | Селото Нерези се наоѓа во северниот дел на Општина Струга (до 2004 година, во составот на Општина Луково), односно во западниот дел на Струшкото Поле.
    br
    iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52279.92001666508!2d20.57497173451212!3d41.32395482444828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511c30b9262653%3A0xae260f1f5f06cfdf!2sNerezi%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1529568849489", height="300", frameborder="0", style="border:0", allowfullscreen="")
    br
    | Нерези е ридско село и лежи на надморска височина од 720 до 900 метри. Селото се наоѓа на 28 километри северно од Струга и 29 километри јужно од Дебар.