p(style="overflow: auto;")
    | Нерези се наоѓа во северозападниот дел на општина Струга. До 2004 година беше дел од општината Луково. Се наоѓа на околу 26 километри од градот Струга. Највисоката точка на селото е 1096 мнв. На само 25 километри од Струга и околу Охридското Езеро, на надморска височина од 870 метри се наоѓа селото Нерези.
    | Селото се наоѓа на планината Јабланица, на една висока терасна рамнина со стрмнина накај Пискупската река, опкружена со неверојатна природа, чист воздух и недопрени извори на чиста вода за пиење.