p
                        | Селото се наоѓа на една висока терасна рамнина со стрмнина накај Пискупската река. Над селото се наоѓа планината Стрмница. Во селото има многу извори, и тоа во близина на куќите. 
                        br
                        | Во Нерези се маалата: Чуљкинска, Фиљкоска, Бајческа, Нелческа, Чавкоска. Групата на куќи во Чавкоската и Ѓореската се викаат и Кошаре или Кошарци, а останатите се Поле или Полјани. Куќите се прилично расштркани поради нивите. До пред 30-50 години, куќите биле збиени поради опасноста од Албанците. Се на се, во селото има 60 домови. Во селото има две цркви: Св. Спас на ридот Добрава над селото и Св. Ѓорѓија изградена пред околу сто години. Селски празници се Спасовден и Преображение. Гробиштата се наоѓаат кај црквата Св. Ѓорѓија, а кога селото се наоѓало во Горно Село, имало и таму гробишта, кои сега едвај се познаваат. 
                        br
                        | Локацијата на селото Нерези е сменета три пати. Најпрвин селото се наоѓало на местото кое се вика Старо или Горно Село, околу 2 километри далеку од денешната локација на Нерези, и непосредно под планината, на едната страна помеѓу врвовите Чука и Добрава, а код врела Трапа. 
                        br
                        | На врвот Добрава стои и денес црквата Св. Спас, а на врвот Чука имало црква и гробишта; гробиштата сеуште ги има, а местото е "вакуфско". Поради Албанците селото од тука е преместено во Кошаре или Јанкулов Трап на левата страна од Пискупска река, блиску до Дримот. Тогаш повторно имале мака со снабдувањето со вода и од тука, во времето на спахиите, кога траеле судирите помеѓу Гегите и Тоските, се населиле на денешното место. Освен Циганите ковачи, во селото никогаш немало други муслимани. 
                        br
                        | Едно место во селото се вика Латински Добје - Свети Никола. Се зборува дека тука имало манастир. Сега на тоа место има мало олтарче (капела) од дрво. Околу селото има растурени поединечни гробови од оние кои што изумреле од чумата па биле закопани на самото место на кое што починале. На крајот на долот Калуѓер.(?) се наоѓа местото Чивлигарево. Тоа место било во сопственост на Хаџи Леш од ? (сега во Албанија) чиј татко Фери и стрико Љамо биле селски сејмени кои ја купиле земјата и го формирале чифликот. 
                        br
                        | За староседелци се сметаат Раткушиновци. Двајца од овој род се отселиле во Јабланица пред 70 и пред 7 години.
                        br
                        | Ѓорески - Ѓорѓи, четвртиот предок на Спасе Ѓорески и неговиот син Никола живееле во Старо Село. Неговиот внук Танаско живеел блиску до Дримот, а правнукот Вељо (таткото на Спасе) дошол во Кошаре. Еден брат на Ѓорѓи се отселил во Охрид.
                        br
                        | Пејчиноски.
                        br
                        | Чавкоски - Нивни гранки се Мартиноски, Чуљкинци, Марковци, Башовци и Феруковци.
                        br
                        | Бајчески и Фиљкоски се еден род.
                        br
                        | Латовци или Љатовци, Поповци со Трифуновци и Глигоровци се еден род, а според старите се Поповци. Од Љатоски има еден род во Бугарија.
                        br
                        | Нелчевци, некогаш Деспотовци - биле голема куќа се до чумата, која го оставила само предокот на Деспот (прадедото Миле Нелчески, кој има 67 години) и се само една куќа. Во однос на презимето, се претпоставува дека тоа потекнува од Деспот, кој го викале Нелчо, или од некој негов предок кој бил од Стеблево во Голо Брдо. 
                        br
                        | Секуловци - се претпоставува дека нивниот предок Секула бил до Подгорци  од каде што избегал, бидејќи го убил на некој Турчин. 
                        br
                        | Шопкини - Прадедото Ристо дошол од селото Кошишта од Дебар. 
                        br
                        | Нелчевци - Младеновци, порано Вулинци - потекнуваат од селото Нерези кај Прилеп, од каде што дошол прадедото. Имаат две семејства без машки членови. 
                        br
                        | Црнијанои или Црнијановци - се доселени од непознато место. Во Нерези дошол прадедото или некој подалечен предок. 
                        br
                        | Шапардановци - Предокот дошол пред сто години како домазет од Модрич. Од Шапардановци нема во селото, а еден е во Бугарија. 
                        br
                        | Наумовци-Бегалски - Дедото Ристо, кој бил од Вељановци во Безево, дошол во Нерези како домазет во Бегалски, од кои сега има две момчиња кои живеат во Пискупштина. 
                        br
                        | Пупунчовци - Предокот дошол како домазет од Јабланица во Стојковци, кои биле гранка на Чавкоски. ??? 
                        br
                        | Радевци, Ковачевци и Јанкуловци се еден род. Тие слават Св. Никола Нивното потекло не се знае. Затоа што Пандил Ковачески отишол во Бугарија, од таа фамилија во селото останал само неговиот син, кој живее кај Филип Филкоски.  
                        br
                        | Танаскоски - дел се иселиле, а дел изумреле, од кои има едно семејство во Софија, Костови, од кои има можеби и во Романија, и Башовци. 
                        br
                        p(style='font-style: italic; font-size: 15px;')
                        | Оваа содржина е превземена од книгата M.,S., Filipovic, (1939), Debarski Drimkol, Skoplje: "Јужна Србија" . При преведувањето на македонски јазик беа изоставени некои зборови на поими, локации и историски податоци.