p
                        | Локацијата на селото Нерези е сменета три пати. Најпрвин селото се наоѓало на местото кое се вика Старо или Горно Село, околу 2 километри далеку од денешната локација на Нерези, и непосредно под планината, на едната страна помеѓу врвовите Чука и Добра. 
                        br
                        | На врвот Добра стои и денес црквата Св. Спас, а на врвот Чука имало црква и гробишта; гробиштата сеуште ги има, а местото е "вакуфско". Поради Албанците селото од тука е преместено во Кошаре или Јанкулов Трап на левата страна од Пискупска река, блиску до Дримот. Тогаш повторно имале мака со снабдувањето со вода и од тука, во времето на спахиите, кога траеле судирите помеѓу Гегите и Тоските, се населиле на денешното место. Освен Циганите ковачи, во селото никогаш немало други муслимани. 
                        br
                        | Едно место во селото се вика Латински Добје - Свети Никола. Се зборува дека тука имало манастир. Сега на тоа место има мало олтарче (капела) од дрво. Околу селото има растурени поединечни гробови од оние кои што изумреле од чумата па биле закопани на самото место на кое што починале.
                        br
                        br
                        | За староседелци се сметаат:
                        br
                        | ● Раткушиновци. Двајца од овој род се отселиле во Јабланица при крај на XVIII век.
                        br
                        | ● Ѓорески - Ѓорѓи, четвртиот предок на Спасе Ѓорески и неговиот син Никола живееле во Старо Село. Неговиот внук Танаско живеел блиску до Дримот, а правнукот Вељо (таткото на Спасе) дошол во Кошаре. Еден брат на Ѓорѓи се отселил во Охрид.
                        br
                        | ● Пејчиноски.
                        br
                        img.inTextRight(src="images/nerezi/info/1.jpg", alt="Nerezani-Modricani")
                        br
                        | ● Чавкоски - Нивни гранки се Мартиноски, Чуљкинци, Марковци, Башовци и Феруковци.
                        br
                        | ● Бајчески и Фиљкоски се еден род.
                        br
                        | ● Латовци или Љатовци, Поповци со Трифуновци и Глигоровци се еден род, а според старите се Поповци. Од Љатоски има еден род во Бугарија.
                        br
                        | ● Нелчевци, некогаш Деспотовци - биле голема куќа се до чумата, која го оставила само предокот на Деспот (прадедото Миле Нелчески) и се само една куќа. Во однос на презимето, се претпоставува дека тоа потекнува од Деспот, кој го викале Нелчо, или од некој негов предок кој бил од Стеблево во Голо Брдо. 
                        br
                        | ● Секуловци - се претпоставува дека нивниот предок Секула бил до Подгорци  од каде што избегал, бидејќи го убил на некој Турчин. 
                        br
                        | ● Шопкини - Прадедото Ристо дошол од селото Кошишта од Дебар. 
                        br
                        | ● Нелчевци - Младеновци, порано Вулинци - потекнуваат од селото Нерези кај Прилеп, од каде што дошол прадедото. Имаат две семејства без машки членови. 
                        br
                        | ● Црнијанои или Црнијановци - се доселени од непознато место. Во Нерези дошол прадедото или некој подалечен предок. 
                        br
                        | ● Шапардановци - Предокот дошол пред сто години како домазет од Модрич. Од Шапардановци нема во селото, а еден е во Бугарија. 
                        br
                        | ● Наумовци-Бегалски - Дедото Ристо, кој бил од Вељановци во Безево, дошол во Нерези како домазет во Бегалски. 
                        br
                        | ● Пупунчовци - Предокот дошол како домазет од Јабланица во Стојковци, кои биле гранка на Чавкоски. 
                        br
                        | ● Радевци, Ковачевци и Јанкуловци се еден род. Тие слават Св. Никола Нивното потекло не се знае. Затоа што Пандил Ковачески отишол во Бугарија, од таа фамилија во селото останал само неговиот син, кој живее кај Филип Филкоски.  
                        br
                        | ● Танаскоски - дел се иселиле, а дел изумреле, од кои има едно семејство во Софија, Костови, од кои има можеби и во Романија, и Башовци. 
                        br
                        .link
                            p(style='font-style: italic; font-size: 15px;')
                            | Оваа содржина е превземена од книгата M.,S., Filipovic, (1939), Debarski Drimkol, Skoplje: "Јужна Србија" . При преведувањето на македонски јазик беа изоставени некои зборови на поими, локации и историски податоци.