p
                        | Селото е населено со 213 жители. Денес во селото живеат околу стотина куќи и околу 120 жители.

                        |Во Нерези се маалата: Чуљкинска, Фиљкоска, Бајческа, Нелческа, Чавкоска. Групата на куќи во Чавкоската и Ѓореската се викаат и Кошаре или Кошарци, а останатите се Поле или Полјани. Куќите се прилично расштркани поради нивите. До пред 30-50 години, куќите биле збиени поради опасноста од Албанците. Се на се, во селото има 60 домови.