.message {
    position: relative;
    border-radius: 10px;
    text-align: left;
    padding: 30px;
    margin: 50px 0 50px 0;
    width: 100%;
    -webkit-box-shadow: inset 0 0 100px 3000px rgba(173, 173, 173, 0.507);
          box-shadow: inset 0 0 100px 3000px rgba(173, 173, 173, 0.507);
    color: black;
}
.kombe{
    position: relative;
    width: 50%;
    height: 500px;
    margin: 50px auto 10px auto;
}
.message:first-child {
    -webkit-box-shadow: inset 0 0 100px 3000px rgba(173, 173, 173, 0.507), 0 0 50px 10px rgba(255, 255, 255, 0.753);
          box-shadow: inset 0 0 100px 3000px rgba(173, 173, 173, 0.507), 0 0 50px 10px rgba(255, 255, 255, 0.753);
    margin: 20px 0 0 0;
}
.message:last-child {
    margin: 50px 0 0 0;
}
.titolo{
    text-align: center;
    margin-bottom: 2em;
}
.titolo > h4{
    font-size: 2.5em;
}
.message > p{
    font-weight: 200;
    font-size: 1.2em;
}
.funFact{
    font-weight: 400;
}
.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.legenda{
    position: relative;
    width: 50%;
    margin: 50px auto 10px auto;
    text-align: center;
}
.legenda img{
    width: auto;
    max-height: 500px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 2px rgba(68, 68, 68, 0.767);
          box-shadow: 0 0 10px 2px rgba(66, 66, 66, 0.863);
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.legenda img:hover{
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}
.share-btn.bmugri {
    background-color: rgba(255, 190, 50, 0.9);
    /*
    -webkit-box-shadow: 0 0 10px 2px rgba(255, 190, 50, 0.767);
          box-shadow: 0 0 10px 2px rgba(255, 190, 50, 0.863);*/
    left: 50%;
    top: 25%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.share-btn.jablanica {
    background-color: rgba(5, 206, 65, 0.9);
    /*
    -webkit-box-shadow: 0 0 10px 2px rgba(5, 206, 65, 0.329);
          box-shadow: 0 0 10px 2px rgba(5, 206, 65, 0.733);*/
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.share-btn.modric {
    background-color: rgba(0, 153, 255, 0.9);
    /*
    -webkit-box-shadow: 0 0 10px 2px rgb(0, 153, 255);
          box-shadow: 0 0 10px 2px rgb(0, 153, 255);*/
    left: 50%;
    top: 75%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.bmugri.clicked,
.jablanica.clicked,
.modric.clicked{
    height: 510px;
    z-index: 10;
    background-color: rgb(255, 251, 241);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255, 115, 0, 0.185);
            box-shadow: 0px 0px 30px 10px rgba(255, 115, 0, 0.185);
}
.modric.clicked{
    height: 585px;
}
.jablanica.clicked{
    height: 400px;
}
.to{
    font-weight: 200;
    text-align: right;
    font-size: 0.9em;
}
.company{
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 0.6em;
    margin-top: 10px;
}
.fine{
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    width: 85%;
    margin: auto;
}
a:focus{
    outline: 0;
}

@media all and (max-width: 991px){
    .info{
        display: block;
    }
    .legenda{
        width: 100%;

    }
    .legenda img{
        width: 290px;
        height: 332px;
    }
    .legenda img:hover{
        transform: none;
    }
    .kombe{
        width: 100%;
        height: 250px;
        margin: auto;
    }
    .share-btn.modric,
    .share-btn.jablanica,
    .share-btn.bmugri {
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    }
    .share-btn.bmugri{
        top: 25%;
    }
    .share-btn.jablanica{
        top: 55%;
    }
    .share-btn.modric{
        top: 85%;
    }
    .titolo > h4{
        font-size: 2em;
    }
    .message > p{
        font-weight: 200;
        font-size: 1.05em;
    }
}