@-webkit-keyframes glowing {
            0% {
                background-color: #00d2ff;
                -webkit-box-shadow: 0 0 3px #00d2ff;
            }
            50% {
                background-color: #1e90ff;
                -webkit-box-shadow: 0 0 40px #1e90ff;
            }
            100% {
                background-color: #00d2ff;
                -webkit-box-shadow: 0 0 3px #00d2ff;
            }
        }

        @-moz-keyframes glowing {
            0% {
                background-color: #00d2ff;
                -moz-box-shadow: 0 0 3px #00d2ff;
            }
            50% {
                background-color: #1e90ff;
                -moz-box-shadow: 0 0 40px #1e90ff;
            }
            100% {
                background-color: #00d2ff;
                -moz-box-shadow: 0 0 3px #00d2ff;
            }
        }

        @-o-keyframes glowing {
            0% {
                background-color: #00d2ff;
                box-shadow: 0 0 3px #00d2ff;
            }
            50% {
                background-color: #1e90ff;
                box-shadow: 0 0 40px #1e90ff;
            }
            100% {
                background-color: #00d2ff;
                box-shadow: 0 0 3px #00d2ff;
            }
        }

        @keyframes glowing {
            0% {
                background-color: #00d2ff;
                box-shadow: 0 0 3px #00d2ff;
            }
            50% {
                background-color: #1e90ff;
                box-shadow: 0 0 40px #1e90ff;
            }
            100% {
                background-color: #00d2ff;
                box-shadow: 0 0 3px #00d2ff;
            }
        }

        .button {
            -webkit-animation: glowing 3000ms infinite;
            -moz-animation: glowing 3000ms infinite;
            -o-animation: glowing 3000ms infinite;
            animation: glowing 3000ms infinite;
        }