        p{font-size: 20px;}
        .frost{
          border-radius: 5px;
          /*background-color: #F8F8FF;*/
          padding: 20px;
          width: 100%;
          box-shadow: inset 0 0 100px 300px rgba(	57, 57, 57,0.6);
          color: #ffae19;
        }
        .frost2{
          border-radius: 5px;
          /*background-color: #F8F8FF;*/
          padding: 20px;
          width: 100%;
          box-shadow: inset 0 0 100px 300px rgba(173, 173, 173, 0.507);
          color: black;
          padding-bottom: 20px;
          font-weight: 300;
          overflow-wrap: break-word;
        }
        img.bgd{
          position: fixed;
          top: 0;
          width: 100vw;
          height: 100vh;
          z-index: -4;
          object-fit: cover;
      }
        .tbl{
          height: 100px;
          width: 100%;
          margin: auto;
        }
        /*
        .line{
          margin: auto;
          width: 30%;
          border-bottom: 2px solid orange;
          margin-bottom: 30px;
        }
        */
        
        #ale{
          filter:drop-shadow(8px 8px 10px gray);
          object-fit: cover;
          border-radius: 2%;
        }
        .text-block {
          position: absolute;
          bottom: 20px;
          right: 20px;
          opacity: 1;
          padding-left: 20px;
          padding-right: 20px;
        }
        .btn-block {
          position: absolute;
          text-align: center;
          bottom: 130px;
          opacity: 1;
        }
        .al {
          height: 50px;
          width: 200px;
          filter:drop-shadow(8px 8px 10px gray);
        }
        .table {
         width: 100%;
         height: 100%;
         }
        details[open] summary ~ * {
          animation: sweep .3s ease-in-out;
        }
        @keyframes sweep {
          0%    {opacity: 0; margin-top: -40px}
          100%  {opacity: 1; margin-top: 0px}
        }
        .submenu {
          text-decoration: none;
          color: #666;
          font: 15px/1 Helvetica, Verdana, sans-serif;
          text-transform: uppercase;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          margin: auto;
          padding: 10px;
        }
        .submenu:hover {
          font-size: 100%;
          color: #666;
        }
        .menu { text-align: center; }
        .menu ul { display:inline-table; }
        .menu li { display:inline; }

        
        .menu2 { text-align: center; position: relative; left: -15px;}
        .menu2 ul { text-decoration: none;}
        .menu2 li { text-decoration: none; list-style: none;}
        /*
        .menu2 { width: 100%; overflow: hidden; text-align: center;}
        .menu2 ul { text-decoration: none; list-style: none; position: relative; float: left; display: block; left: 50%; }
        .menu2 li { text-decoration: none; list-style: none;}
        .menu2 ul li { text-decoration: none; position: relative; float: left; display: block; right: 50%; }*/

        @media all and (max-width: 400px){
          p{font-size: 15px;}
          h2{font-size: 25px;}
          li{font-weight: 100;}
        }