.center {
  position: absolute;
  width: 100%;
  padding: 0;

  box-shadow: 0px 0px 35px #252525;
  z-index: 5;
}

li.news {
  text-align: center;
  background: #3535358e;
  color: #ddd;
  list-style-type: none;
  padding: 1em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
li.news:hover {
  cursor: pointer;
}
