@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@keyframes slideInFromBottom {
    0% {
      transform: translateY(5%);
      opacity: 0;
    }
    50% {
      transform: translateY(-3%);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


body{
    background-color: #f9f7f1;
}
.giornale{
    position: relative;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
.footer-news{
    color: #2f2f2f;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    margin-top: 40px;
    padding: 10px;
    font-family: serif;
    font-weight: 900;
    font-size: 110px;
    text-transform: uppercase;
    line-height: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #2f2f2f;
    border-bottom: 2px solid #2f2f2f;
    width: 80vw;
}
h2{
    margin-top: 50px;
    font-family: serif;
}
.articoli{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carta{
    margin: 30px;
    padding: 10px;
    width: 310px;
    height: 550px;
    background: inherit;
    border-radius: 3px;
    /*
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;*/
}
.carta:hover {
    box-shadow: inset 0 0 100px #e6ddc1;
}

.titolo{
    height: 70px;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    line-height: 35px;
}
.slika{
    margin-top: 10px;
    height: 180px;
    width: 280px;
    object-fit: cover;
    filter: grayscale(85%);
    border-radius: 3px;
}
.artikl{
    height: 130px;
    padding: 10px;
    margin-top: 10px;
    font-size: 19px;
    margin-bottom: 10px;
}
.date{
    font-size: 15px;
    margin: 20px;
}
.presImg{
    position: relative;
}



a.povekje{
    position: absolute;
    color: white;
    top: 10px;
    left: 5px;
    height: 180px;
    width: 280px;
    border-radius: 3px;
    background-color: #1a1919de;
    text-decoration: none;
    display: none;
}

.slideM{
    animation: 0.7s ease-out slideInFromBottom;
  }



@media all and (min-width: 768px) and (max-width: 1023px){
    header{
        font-size: 55px;
    }
}
@media all and (max-width: 767px){
    header{
        font-size: 40px;
        line-height: 40px;
    }
    h2{
        margin-top: 50px;
        font-family: serif;
        font-size: 25px;
    }
    .carta{
        box-shadow: inset 0 0 100px #e6ddc1;
    }
}
@media all and (max-width: 330px){
    header{
        font-size: 35px;
        line-height: 40px;
    }
}