#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9 {
	width: 50px;
	border-radius: 50%
	visibility: hidden;
	filter:drop-shadow(0px 5px 7px #ccac00);
}
@media all and (max-width: 800px) and (min-width: 501px) {
	#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9 {
	width: 30px;
	border-radius: 50%
	visibility: hidden;
	filter:drop-shadow(0px 2px 3px #ccac00);
	}
}
@media all and (max-width: 500px) {
	#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9 {
	width: 20px;
	border-radius: 50%
	visibility: hidden;
	filter:drop-shadow(0px 2px 3px #ccac00);
	}
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}