.effect2 {
    position: relative;
}

.effect2:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.effect2:before, .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 23px;
    left: 5px;
    width: 80%;
    top: 80%;
    max-width: 300px;
    background: #000;
    box-shadow: 0 25px 10px #000;
    transform: rotate(-3deg);
}

.senka{
    z-index:-1;
    position:absolute;
    object-fit: fill;
    left: -40px;
    top: -35px;
}

.senka2{
    z-index:-1;
    position:absolute;
    object-fit: fill;
    left: -40px;
    top: 80px;
    transform: rotate(-2deg);
}