img.bgd{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .text-center > h1,
  .text-center > h2,
  .frost > div > h1,
  .pictures > h1,
  .frost2 > div > h3{
      font-weight: 500;
      text-shadow: 0 0 10px white;
  }

  @-webkit-keyframes resize {
    from{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to{
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
    }
}
@keyframes resize {
    from{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to{
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
    }
}
.touched{
    -webkit-transform: scale(0.95);
                -ms-transform: scale(0.95);
                transform: scale(0.95);
    -webkit-animation: resize 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation: resize 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#blang{
    padding: 10px;
}
#blang > button {
    width: 30px;
    height: 23px;
    border-radius: 5px;
    -webkit-filter: drop-shadow(0 0 1px white);
            filter: drop-shadow(0 0 1px white);
}
.lang{
    /*vertical-align: middle;*/
    margin: 0 10px 0 10px;
    border: none;
    cursor: pointer;
}

.lang:nth-child(1){
    background: url("../images/other/mkd.svg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0 0 5px 0.5px rgba(220, 20, 60, 0.76);
            box-shadow: 0 0 5px 0.5px rgba(220, 20, 60, 0.76);
}
.lang:nth-child(2){
    background: url("../images/other/uk.svg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0 0 5px 0.5px rgba(0, 0, 255, 0.76);
            box-shadow: 0 0 5px 0.5px rgba(0, 0, 255, 0.76);
}
.lang:focus{
    outline: 0;
}
.lang:hover{
    -webkit-box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.589);
            box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.589);
    /*
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);*/
}
a:focus{
    outline: 0;
}

/*scroll to top*/
#toTop {
    text-align: center;
    padding: 0;
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.719);
    box-shadow: 0 0 2px 1px white;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 40px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    opacity: 0.5;
    cursor: pointer;
  }
  
  #toTop:focus{outline: 0;}

  #toTop:hover {
    opacity: 1;
  }

.message {
  position: relative;
  border-radius: 10px;
  text-align: left;
  padding: 50px;
  width: 100%;
  -webkit-box-shadow: inset 0 0 100px 3000px rgba(39, 39, 39, 0.664);
          box-shadow: inset 0 0 100px 3000px rgba(39, 39, 39, 0.664);
  color: white;
  -webkit-animation: 0.7s ease-out slideInFromLeft;
          animation: 0.7s ease-out slideInFromLeft;
}



@media all and (max-width: 813px){
    .lang:hover{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}