@keyframes slide_on_h{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-14vh);
    }
    75%{
        transform: translateY(-12vh);
    }
    100%{
        transform: translateY(-13vh);
    }
}
@keyframes slide_name{
    0%{
        transform: translate(0,0);
        background: transparent;
    }
    50%{
        transform: translate(-35%,-13vh);
        background: transparent;
    }
    75%{
        transform: translate(-30%,-11vh);
        background: transparent;
    }
    100%{
        transform: translate(-32%,-12vh);
        background: transparent;
        font-size: 35px;
    }
}
.cartaS{
    position: relative;
    width: 100%;
    height: 35vh;
    background-image: url(../images/homepage/big/nerezi.jpeg);
    background-size: cover;
    background-position: top;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 30px 3px black;
}
.mask{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: all 0.5s ease-in;
}
.i{
    position: absolute;
    top: 27vh;
    width: 100%;
    height: 20vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.4s ease-in;
    background: linear-gradient(to bottom, transparent, black 45%);
}
.nomeS{
    color: white;
    text-align: center;
    padding-right: 20px;
    width: 150%;
    height: 10vh;
    text-shadow: 0 0 10px black;
    transition: all 0.5s ease-in;
}
.buttonsS{
    display: flex;
    justify-content: center;
    height: 10vh;
}
.b{
    width: 50%;
    height: 10vh;
    border-radius: 0px;
    font-size: 20px;
    transition: all 0.5s ease-in;
}
.b:nth-child(1){
    border-bottom-left-radius: 5px;
}
.b:nth-child(2){
    border-bottom-right-radius: 5px;
}
/*
.cartaS:hover .i{
    transform: translateY(-12vh);
}*/
.cartaS:hover{
    box-shadow: 0 0 30px 10px white;
}
.cartaS:hover .nomeS{
    animation: 0.5s ease-in slide_name;
    transform: translate(-32%,-12vh);
    font-size: 35px;
    background: transparent;
}
.cartaS:hover .b:nth-child(1){
    animation: 0.5s ease-in slide_on_h;
    transform: translateY(-13vh);
}
.cartaS:hover .b:nth-child(2){
    animation: 0.5s ease-in slide_on_h;
    animation-delay: 0.05s;
    transform: translateY(-13vh);
}
.cartaS:hover .mask{
    opacity: 0.7;
}