body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(../images/other/football_transparent_blurry.png);
  width: 100%;
  height: 100%; 
}

.box {
  width: 160px;
  height: 160px;
  text-align: center;
  margin: auto;
  background: transparent;
  overflow: hidden;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes wobble {
  0% {transform: translateX(0%);}
  15% {transform: translateX(-25%) rotate(-5deg);}
  30% {transform: translateX(20%) rotate(3deg);}
  45% {transform: translateX(-15%) rotate(-3deg);}
  60% {transform: translateX(10%) rotate(2deg);}
  75% {transform: translateX(-5%) rotate(-1deg);}
  100% {transform: translateX(0%);}
}
.wobble {
  animation-name: wobble;
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
.frost{
  width: 100%;
  box-shadow: inset 0 0 100px 300px rgba(43, 43, 43, 0.562);
  color: #ffae19;
  overflow-wrap: break-word;
  padding: 20px;
}

.teams{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team{
  min-width: 100%;
  height: 400px;
}
.team:nth-child(even){
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.team:nth-child(odd){
  background: #00c8ff60;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0073ff73, #00c8ff60);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0073ff73, #00c8ff60); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.tbl{
  height: 100px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
.ico{
  margin: 30px;
}
.trofei{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media all and (max-width: 813px){
  .tbl{
    width: 85%;
  }
  .team{
    height: 250px;
  }
}