@keyframes resize {
  from{
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  to{
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
  }
}
.touched{
  -webkit-transform: scale(0.95);
              transform: scale(0.95);
  -webkit-animation: resize 0.2s ease-out;
          animation: resize 0.2s ease-out;
}
a{outline: 0;}
img.bgd {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.75;
}
.frost{
  -webkit-box-shadow: inset 0 0 100px 700px rgba(43, 43, 43, 0.562);
          box-shadow: inset 0 0 100px 700px rgba(43, 43, 43, 0.562);
  color: #ffae19;
  overflow-wrap: break-word;
}
.data{
  margin: auto;
  border-radius: 10px;
  width: 70%;
  height: 14rem;
  margin-top: 50px;
  text-align: center;
}

.data h1 {
  color: #ffdf32;
  line-height: 1.2;
  font-weight: bold;
  font-size: 8rem;
  margin: 10px 0;
  text-decoration: none;
  display: inline-block;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  -webkit-mask-image: -webkit-linear-gradient(165deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 1.5s linear infinite;
          animation: shine 1.5s linear infinite;
}

.data h4 {
  color: #ffdf32;
  line-height: 1.3;
  letter-spacing: 20px;
  font-weight: 200;
  font-size: 1.3rem;
  margin: 10px 0;
  text-decoration: none;
  position: relative;
  text-shadow: 0 0 3px white;
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  -webkit-mask-image: -webkit-linear-gradient(165deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 2s linear infinite;
          animation: shine 2s linear infinite;
}

@-webkit-keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.news{
  position: relative;
  margin: auto;
  border-radius: 10px;
  width: 70%;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(233, 231, 231, 0.404);
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 3;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: gold;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.363);
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 35s linear infinite;
          animation: marquee 35s linear infinite;
}
.left_mask{
  position: absolute;
  left: -1%;
  width: 1%;
  height: 100%;
  font-size: 1.5rem;
  line-height: 3;
  z-index: 3;
  -webkit-box-shadow: 10px 0 30px rgba(43, 43, 43, 0.562);
          box-shadow: 10px 0 30px rgba(43, 43, 43, 0.562);
}
.right_mask{
  position: absolute;
  right: -1%;
  width: 1%;
  height: 100%;
  font-size: 1.5rem;
  line-height: 3;
  z-index: 3;
  -webkit-box-shadow: -10px 0 30px rgba(43, 43, 43, 0.562);
          box-shadow: -10px 0 30px rgba(43, 43, 43, 0.562);
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}


/*
.data h1 {
	background-image: url(https://media.giphy.com/media/OK5LK5zLFfdm/giphy.gif);
	background-size: contain;
  color: transparent;
  background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
  line-height: 1.25;
  font-weight: bold;
  font-size: 8rem;
  margin: 10px 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}*/
.tab{
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}
.teams{
  padding-top: 50px;
  margin: auto;
  margin-top: 50px;
  width: 70%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.teams_div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team{
  margin: auto;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  z-index: 1;
  cursor: pointer;
}
.stemma{
  -webkit-filter: drop-shadow(0 0 .75rem white);
          filter: drop-shadow(0 0 .75rem white);
  width: 200px;
  height: auto;
  padding: 20px;
}

.tbl{
  height: 100px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.ico{
  margin: 30px;
}
.trofei{
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
}
.team-name{
  text-align: center;
  text-shadow: 0 0 0.75rem white;
  color: black;
  font-size: 1.5rem;
}

.pictures{
  margin: auto;
  margin-top: 50px;
  width: 70%;
  border-radius: 10px;
}
.galleria{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.589));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.589));
}
img.resp {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 3px;
  z-index: 1;
}
img.resp:hover,
.team:hover{
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: scale(1.05);
  -ms-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transform: scale(1.05);
  -moz-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transform: scale(1.05);
  -o-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.05);/*
  animation: 0.3s ease-out zoom;*/
  transform: scale(1.05);
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
          filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  z-index: 2;
}
.legenda h5{
  max-width: 260px;
  line-height: 2.5;
  padding-left: 15px;
  padding-right: 15px;
  margin: 50px auto 50px auto;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px #ffae19;
          box-shadow: 0 0 25px #ffae19;
  color: rgb(230, 218, 152);
  cursor: pointer;
}
.winner{
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 55px #ffae1994;
          box-shadow: inset 0 0 55px #ffae1994;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.651);
  border-radius: 10px;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: transparent;
}
.pending{
  text-align: center;
  margin: 20px;
}
.pending h5{
  color: white;
  font-size: 1em;
}

@media all and (max-width: 813px){
  .data h1 {
    font-size: 5.5rem;
  }
  .data h4 {
    font-size: 1rem;
    letter-spacing: 10px;
  }
  .tbl{
    width: 85%;
  }
  .teams,
  .trofei,
  .tab,
  .pictures,
  .news{
    width: 95%;
    height: auto;
  }
  .data{
    width: 95%;
    height: 11rem;
  }
  .team{
    width: 140px;
    height: 140px;
  }
  .stemma{
    width: 140px;
  }
  img.resp:hover,
  .team:hover{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
}

/*iphone se*/
@media all and (max-width: 330px) {
  img.resp{
    width: 90px;
    height: 90px;
  }
  .galleria{
    margin: 50px 0px auto;
  }
}

  /*telefoni più grandi*/
  @media all and (max-width: 400px) and (min-width: 331px) {
  img.resp{
    width: 110px;
    height: 110px;
  }
}

  /*telefoni più grandi*/
  @media all and (max-width: 750px) and (min-width: 401px) {
  img.resp{
    width: 110px;
    height: 110px;
  }
}