.filesToUp{
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  padding: 10px;
}

.spinner{
  text-align: center;
  display: none;
  margin-top: 20px;
}