p(style="overflow: auto;")
                        | Селото се наоѓа во областа Дебарски Дримкол, 
                        | сместено меѓу планините Јабланица на југ и Радуч на север. Оддалечено е 22 кичлометри северозападно од Струга.