p(style="overflow: auto;")
                        | Селото се наоѓа во областа Дебарски Дримкол, 
                        br
                        iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23945.4613892491!2d20.54853009394057!3d41.3237592108173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511d3778f7c7f5%3A0x466ae3aed7353204!2sLakaica%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1529569985022", height="300", frameborder="0", style="border:0", allowfullscreen="")
                        br
                        | сместено меѓу планините Јабланица на југ и Радук на север. Оддалечено е 22 кичлометри северозападно од Струга.