p(style='text-align:center')
                        | Селото се наоѓа во областа Дебарски Дримкол, сместено меѓу планините Јабланица на југ и Радук на север. Оддалечено е 22 кичлометри северозападно од Струга.