p(style="overflow: auto;")
                        | Nerezi, within its cultural and historical landmarks, includes a church and three monasteries:
                        br
                        img.inTextRight(src="images/nerezi/info/2.jpeg", alt="Sv. Gjorgija")
                        br
                        | ● St.Georges the Great Martyr
                        br
                        | ● the church of Holy Salvation
                        br
                        | ● the church of Holy Mother the Most Innocent
                        br
                        | ● St. Nicholas
                        span.hide
                            br
                            br
                            br
                            br
                            br
                            | On the right the church of Holy Salvation