p
                        | The location of the village of Nerezi has been changed three times. First the village was located on the site called Staro or Gorno Selo, about 2 km away from today's location of Nerezi, and just below the mountain, on one side between the peaks Chuka and Dobra.
                        br
                        | At the top of the Dobra peak stand today the church of Holy Salvation, and at the top of Chuka there was a church and a cemetery; the cemetery is still there, and the place is "vacuum". Because of the Albanians, the village has been moved from there to Košara or Jankulov Trap on the left side of the Piskupshtina's river, close to Drim. Then again they had trouble with the supply of water, and from here, at the time of the slime, when the clashes between Geghite and Toska lasted, they settled in today's place. Apart from gypsy blacksmiths, there were never any other Muslims in the village.
                        br
                        | One place in the village is called "Latinski Dobje" - St. Nicholas. It is said that there was a monastery there. Now there is a small altar (chapel) made of wood. Around the village there are broken individual graves from those who died out of the plague so they were buried on the spot where they died. 
                        br
                        br
                        | Indigenous people are considered:
                        br
                        | ● Ratkushinovci. Two of this genus migrated to Jablanica at the end of the eighteenth century.
                        br
                        | ● Gjoreski - Gjorgji, the fourth ancestor of Spase Gjoreski and his son Nicholas lived in Staro Selo. His grandson Tanasko lived close to Drim, and great-grandfather Veljo (the father of Spas) came to Košara. George's brother moved to Ohrid.
                        br
                        | ● Peichinoski.
                        br
                        | ● Chavkoski - Their branches are Martinoski, Chulkinci, Markovci, Bashovci and Ferukovci.
                        br
                        | ● Bajcheski and Filskoski are one genus.
                        br
                        | ● Latovci or Ljatovci, Popovci with Trifunovci and Gligorovci are one genus, and according to the old ones are Popovci. From Ljatoski there is one generation in Bulgaria.
                        br
                        | ● Nelchevci, once a Despotovci, were a big house until the plague, which was left only by the ancestor of Despot (the great grandfather of Mile Nelcheski) and they are just one house. Regarding the surname, it is assumed that it originated from Despot, who was called Nelcho, or from an ancestor who was from Stebelevo in Golo Brdo.
                        br
                        | ● Sekulovci - it is assumed that their ancestor Sekula was from (or went to) Podgorci where he fled because he killed a Turk.
                        br
                        | ● Shopkini - The great-grandfather Risto came from the village of Kosishta from Debar.
                        br
                        | ● Nelchevci - Mladenovci, formerly Vulinci - originate from the village of Nerezi near Prilep, from where the great grandfather came. They have two families without male members.
                        br
                        | ● Crnijanovci - are moved from an unknown place. In Nerezi, a great-grandfather or a distant ancestor came.
                        br
                        | ● Shapardanovci - The first one came a hundred years ago as a groom from Modric. There are no Shapardanoski residents in the village, and one is in Bulgaria.
                        br
                        | ● Naumovci-Begalci - Grandfather Risto, who was from the Veljanovci in Bezevo, came to Nerezi as a groom.
                        br
                        | ● Pupunchovci - The first one came as a groom from Jablanica, Stojkovci, which was a branch of Chavkoski.
                        br
                        | ● Radevci, Kovachevci and Jankulovci are one genus. They celebrate St. Nicholas. Their origin is unknown. Because Pandil Kovacheski went to Bulgaria, only his son, who lived with Philip Filoski, left that family in the village.
                        br
                        | ● Tanasoski - a part moved out, and some died out, of which there is one family in Sofia, Kostov, of which maybe there are some in Romania, and Bashovci.
                        br
                        p(style='font-style: italic; font-size: 15px;')
                        | This content is taken from the book M., S., Filipovic, (1939), Debarski Drimkol, Skopje: "Southern Serbia". When translating into english, some words of notions, locations and historical data were omitted.