p(style="overflow: auto;")
                        | Селото се наоѓа во областа Дримкол на североисточните падини на Радуч.
                        br
                        iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52242.03849071052!2d20.53587285320215!3d41.371149531761475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511b73a5c1a6b1%3A0xb5d1a30e63b2239!2sDrenok%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1529569675504", height="300", frameborder="0", style="border:0", allowfullscreen="")
                        br