p(style='text-align:left')
                        | Според пописот од 2002 година, селото брои 2 жители, сите Македонци.
                        | Во селото Дренок живеат исклучиво Македонци од православна христијанска вероисповед.
                        | Најстарите староседелски родови кои се основачи на Дренок се:
                        | Трајановци или Трановци и Танасковци, а за старинци се сметаат уште и Тодоровци, Мишановци, Перчуковци или Грујовци, Гулимановци, Гаџовци, Дуковци и Ѓуровци.
                        | Доселени родови се: Башови од Ѓиновец, Гуго(в)и се мисли од Гугово во Солунско, Чижбановци, Петановци од Луково, Оручевци од Маќеларе или Радоешта, Божиновци од Луково, Спанчевци или Кузмановци од Стеблево, Стојковци од Требиште и Драповци од Стеблево.