p(style="overflow: auto;")
                        | Селото се наоѓа во областа Дримкол, на источните падини под врвот Радук на планината Јабланица.
                        br
                        iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53810.482046397534!2d20.580565690235638!3d41.325597073387556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511dcd2cec7351%3A0x53e8f057a932549b!2sBezovo%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1529569336233", height="300", frameborder="0", style="border:0", allowfullscreen="")
                        br
                        | Оддалечено е 25 северно од Струга и 33 километри јужно од Дебар.