p(style='text-align:center')
                        | Селото се наоѓа во областа Дримкол, на источните падини под врвот Радук на планината Јабланица. Оддалечено е 25 северно од Струга и 33 километри јужно од Дебар.