p(style='text-align:center;')
	| Селото се наоѓа на левата страна од реката Студенца, која извира под Св. Спас и се слива во Јабланичка или Пискупска река. Куќите се распоредени на умерена далечина долж патот за Јабланица. Селото се дели на горно и долно маало. Во селото се наоѓа црквата Св. Димитрија, а околу неа се гробиштата. Во селото се слави Св. Димитрија и Св. Никола.
	br
	|                 Старото Безево било во Горно Село. Од тука се преселиле за да бидат поблиску до водата и нивите. Горе се наоѓа црквата Св. Спас, заедничкиот "вакуф" [1] на Нерези и Безево. Се зборува дека си биле тројца браќа. Кога се разделиле, двајца останале во Нерези, а третиот го основал Безево, поради тоа и денес во црквата Нерези има два, а Безево еден дел. Во близина на безевото е и нерешкото Старо Село. Се смета дека селото било преместено пред 150 години. Се зборува дека во него владеела чума. Селската црква ја граделе дедовците на денешните старци: во натписот на црквата се спомнуваат годините 1835 и 1868.
	br
	|                 На средината на селото се наоѓа местото кое се нарекува Кула, и тука луѓето се собираат за празниците. Се зборува дека некогаш имало кале над селата во позади Каменот, на патот за Јабланица. Едно место под тоа кале се нарекува Под Градиште. Во нивите под црквата се пронајдени големи квадратни цигли (25x25 cm) и темели од згради.
	br
	|                 Васковци, Митановци и Митровци се еден род и се сметаат за потомци на основачот на селото. Затараковци сами се сметаат за стари луѓе, но во селото според општото предание се смета дека се доселени и дека нивниот предок дошол како домазет пред повеќе од сто години од Стеблево или од Модрич. Нивното старо презиме е Цацановци. 
	br
	|               Вељановци - Во Безево дошол прадедото Вељо Вељанович (62 год), кој се викал Спасе, а таткото на Спасе бил од Присовјани во Струшка Малесија и дошол во Нерези како домазет.
	br
	|                 Битолковци - Нивниот предок дошол како домазет од Битола. Од Битола дошол Вељо, прадедо на Негрија (55 год), а таткото на Вељо кој се викал Ристо бил од "Бугарија". Биле дојдени како "момоци" со спахиите. Едно семејство се отселило во Струга.
	br
	|                 Цветановци - Се претпоставува дека се по потекло од Јабланица. Тие биле четвртата куќа во Горно Село. Нивна гранка се Лазаревичи.
	|                 Павлевци - Нивниот предок дошол одамна како домазет од непознато место.
	|                 Освен Вељановци и Битолковци, сите останати во селото прославуваат Св. Никола (6 декември). 
	br
p(style='font-style: italic; font-size: 15px;')
	| Оваа содржина е превземена од книгата M.,S., Filipovic, (1939), Debarski Drimkol, Skoplje: "Јужна Србија" . При преведувањето на македонски јазик беа изоставени некои зборови на поими, локации и историски податоци.
div(style='border-bottom: 1px solid black; width: 80%; left: 0;')
p(style='font-size: 13.5px;') 1.  Верска донација (кај муслиманите) за општа религиозна и хумана цел.
