p(style='text-align:center')
                        | Според податоците од 1873 година, селото имало 40 домаќинства и 118 жители мажи.
                        |
                        | Според статистиката на Васил К'нчов („Македониja, Етнографиja и статистика“) од 1900 година, во Безово живееле 890 жители, сите Македонци.
                        |
                        | Според секретарот на бугарската егзархија Димитар Мишев, („La Macédoine et sa Population Chrétienne“) во 1905 година во Безово имало 192 Македонци, егзархисти.
                        |
                        | Според последниот попис на населението на Македонија од 2002 година, селото има 54 жители, сите македонци.