p(style='text-align:center')
                        | Селото се наоѓа во областа Дебарски Дримкол, во североисточните падини на планината Јабланица. Оддалечено е 32 километри јужно од Дебар и 25 километри северно од Струга.