p(style="overflow: auto;")
                        | Селото се наоѓа во областа Дебарски Дримкол, во североисточните падини на планината Јабланица.
                        br
                        iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53829.0202346331!2d20.5937780609622!3d41.3031439803666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511dd1c6ed408f%3A0x89e3eaa3e750e635!2sPiskupshtina%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1529568987162", height="300", frameborder="0", style="border:0", allowfullscreen="")
                        br
                        | Оддалечено е 32 километри јужно од Дебар и 25 километри северно од Струга.