p(style='text-align:center')
                        | Според статистиката на Васил К'нчов („Македониja, Етнографиja и статистика“) од 1900 година, во Пискупштина живееле 165 жители, сите Македонци.
                        |
                        | Според секретарот на бугарската егзархија Димитар Мишев („La Macédoine et sa Population Chrétienne“), во 1905 година во Нерези имало 176 Македонци, егзархисти.
                        |
                        | Според последниот попис на населението на Македонија од 2002 година, селото има 182 жители, сите Македонци.