p(style="overflow: auto;")
                        | Селото се наоѓа во северозападните делови на областа Струшки Дримкол, на 17 километри оддалеченост од градот Струга.
                        | Селото лежи во подножјето на Јабланица.