p(style='text-align:center')
                        | Според последниот попис на населението на Македонија од 2002 година, селото има 679 жители.
                        | Селото е претежно населено од Македонци, но дел од Македонците-муслимани се изјасниле како Турци или Албанци поради религиско-политички причини. 