p(style="overflow: auto;")
                        | The village is located in the Drimkol territory on the eastern slopes of the Raduk peak, on Mount Jablanica.
                        br
                        iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31311.38537843517!2d20.584990226535187!3d41.323329651789884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511dcd2cec7351%3A0x53e8f057a932549b!2sBezovo%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1530287831674", height="300", frameborder="0", style="border:0", allowfullscreen="")
                        br
                        | It is situated at about 25km north of Struga and about 33km south of Debar.