p(style="overflow: auto;")
                        | The village is located in the Drimkol territory on the eastern slopes of the Raduk peak, on Mount Jablanica.
                        | It is situated at about 25km north of Struga and about 33km south of Debar.