p(style="overflow: auto;")
                        | Во Модрич живее православно македонско население, и може да се забележи дека селото е духовно заштитено со четири манастири, Свети Никола на влезот на селото, 
                        img.inTextRight(src="images/modrich/info/1.jpg", alt="St. Arangelia")
                        | Свети Арангелија во месноста Градиште, Свети Ѓорѓија во Долна Маала, Свети Атанасија во Кочеа Маала. На сретселото се наоѓа цркавата Успение на Света Богородица која е доста позната меѓу народот не само од Долни Дримкол, туку и пошироко како меѓу христијани, така и меѓу муслимани, по својата исцелителска моќ.