p(style="overflow: auto;")
                        | Лоцирано е на падините на планината Јабланица со надморска висина од 900 до 1100м. Селото е од разбиен тип и брои во моментов околу 50-тина куќи со 50 стални жители претежно стари луѓе.
                        |
                        | Модрич е познат по својата уникатна местоположба и чистиот воздух, изворите со вода за кои е и снимен игран филм на таа тема Време Води од Бранко Гапо, гостопримливота и отвореноста на луѓето кои живеат или потекнуваат од таму. Претставува одлично место за одмор, спортски риболов (Дебарско Езеро - 10км и Глобочица - 10км), лов на дивеч.
                        |
                        br
                        br
                        iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52249.37282088545!2d20.530601735863105!3d41.36201550219177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511c7df158799d%3A0x178870435162e319!2sModrich%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1529568666056", height="300", frameborder="0", style="border:0", allowfullscreen="")
                        br
                        |
                        | Како еден куриозитет за лугето кои живеат или потекнуваат од Модрич е нераскинливата волшебна врска или носталгија за стариот крај и тежнеењето да се помине што е можно повеќе време во Модрич да се придонесе на некој начин за заживување на селото. Во Модрич живее православно македонско население, и може да се забележи дека селото е духовно заштитено со четири манастири, Свети Никола на влезот на селото, Свети Арангелија во месноста Градиште, Свети Ѓорѓија во Долна Маала, Свети Атанасија во Кочеа Маала. На сретселото се наоѓа цркавата Успение на Света Богородица која е доста позната меѓу народот не само од Долни Дримкол, туку и пошироко како меѓу христијани, така и меѓу муслимани, по својата исцелителска моќ.