p(style="overflow: auto;")
                        | Лоцирано е на падините на планината Јабланица со надморска висина од 900 до 1100м. Селото е од разбиен тип и брои во моментов околу 50-тина куќи со 50 стални жители претежно стари луѓе.
                        |
                        | Модрич е познат по својата уникатна местоположба и чистиот воздух, изворите со вода за кои е и снимен игран филм на таа тема: Време Води од Бранко Гапо, гостопримливоста и отвореноста на луѓето кои живеат или потекнуваат од таму. Претставува одлично место за одмор, спортски риболов (Дебарско Езеро - 10км и Глобочица - 10км), лов на дивеч.