p(style='text-align:center')
                        | Тврдината којашто се наоѓала во Модрич во текот на османлиското владеење била од големо значење поради нејзината стратешка позиција на левиот брег од реката Црн Дрим, непосредно до патот од Охрид до Дебар. На другата страна од патот се наоѓал Коџаџик (тогаш Светиград)
                        br
                        |  На почетокот од османлиското владеење Модрич најверојатно бил дури и позначаен од Коџаџик.
                        br
                        | Во ноември 1443 година Скендербег се побунил против султанот и тврдината во Модрич станало негово упориште. Истото се толкува во делата на албанскиот историчар и католички свештеник Марин Барлети
                        br
                        | Во 1448 година, султанот Мурат II ја опседнал тврдината во Светиград. Првата битка меѓу војската на Скендербег и Отоманската војска во опсадата на Светиград (1449) се одиграла кај тврдината Модрич.
                        br
                        | Во 1452 година, Отоманската војска од Охрид ги нападнале скендербеговите бунтовници, но била поразена кај Модрич. На чело на бунтовниците стоел Хамза Кастриоти.
                        br
                        | Според Стефанаљ Поло и Арбен Путо, во 1456 година внукот на Скендербег, Георги Стреши Балшич, ја продал тврдината на Османлиите.
                        br
                        | Во 1467 година Модрич бил регистриран како тимар на извесен Синан кој бил диздар на твдрината Модрич. Тврдината најверојатно била уништена до тој степен што во неа немало гарнизон, а нејзина реконструкција била или невозможна или непотребна.
                        br
                        | За тврдината денес сведочат остатоците на ѕидините, гробници, стари монети итн.