p(style='text-align:center')
                        | Според статистиката на Васил К'нчов („Македониja, Етнографиja и статистика“) од 1900 година, во Модрич живееле 960 жители, сите Македонци.

                        | Според секретарот на бугарската егзархија Димитар Мишев, („La Macédoine et sa Population Chrétienne“) во 1905 година во Модрич имало 624 Македонци, егзархисти.

                        | Според последниот попис на населението на Македонија од 2002 година, селото има 25 жители, сите Македонци.
                        br
                        | Денес, Модрич е пред целосно раселување, поради миграцијата која го зафати селото во втората половина на XX век.