p(style='text-align:center')
                        | Црква „Св. Пророк Илија“ - изградена во 1896 година. Преосветена во 1996 година. Нема фрескоживопис.
                        br
                        | Црква „Св. Богородица Пречиста“- изградена во 1976 година, а осветена во 1978 година од страна на тогашниот Митрополит Дебарскоп-кичевски г. Ангелариј. Нема фрескоживопис. Иконите се од 1843 година, изработени од Дичо Зограф и од други зографи, што потврдува дека имало постар објект.
                        br
                        | Црква „Св. Мина, Виктор и Викентиј“- изградена во 1975 година, а осветена на 24 ноември 2001 година. Нема фрескоживопис. Иконите на иконостасот се од 1826 година, што потврдува дека имало постар објект.
                        br
                        | Црква „Св. Преполовение“- камен-темелник е осветен и поставен на 17 јуни 2003 година .
                        br
                        | Црква „Св. Илија“- манастирска црква, изградена во 1954 година. Во тек се подготовки за негово осветување.
                        br
                        | Црква „Св. Петка“- параклис изграден во 2002 година.
                        br
                        | Црква „Св. Никола“- параклис изграден во 1996 година.
                        br
                        | Црква „Св. Петка Римска“- параклис изграден во 1994 година.
                        br
                        | Црква „Св. Недела“ - параклис изграден во 1997 година.