p(style="overflow: auto;")
    | Селото Јабланица се наоѓа во областа Дебарски (Долни) Дримкол, на 24 километри северозападно од градот Струга и 37 километри јужно од Дебар.
    br
    iframe.inTextRight(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d95988.24678827428!2d20.6707487!3d41.2515578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13511da144d64ecd%3A0x791228c1ea01a42e!2sJablanica%2C+Macedonia+(FYROM)!5e0!3m2!1sit!2sit!4v1529566625248", height="300", frameborder="0", style="border:0", allowfullscreen="")
    br
    | Воглавно се наоѓа на една пространа планинска тераса на левата страна на Јабланичка Река, во помал дел и на нејзината десна страна. Селото има седум маали: Дејкоска, Горна, Шајноа, Гроф, Топлец, Бојкоо и Ломница. Маалите се рассштркани и спреден тоа селото е од разбиен тип. Помеѓи првите и три главни маала се наоѓа Збориште.
    