p(style='text-align:center')
                        | Според статистиката на Васил К'нчов („Македониja, Етнографиja и статистика“) од 1900 година, во Јабланица живееле 960 жители, сите Македонци (850 православни и 110 муслимани).
                        br
                        | Според последниот попис на населението на Македонија од 2002 година, селото има 553 жители, сите македонци.