p(style='text-align:center;')
	| Селото е вовлечено во долината на Пискупската река, куќите се на двете страни од реката. Во селото има две маала: Грујовска на левата и Џеровска на десната страна на реката. Се на се има 24 куќи (...). Над селото, на десната страна од реката, под Кабач е црквата Св. Никола со селските гробишта. Под селото е Кошаре. Литија има за летен Св. Никола (9 Мај по старо). Тогаш и многу куќи во селото прославуваат. Селото слави и Преображение.
	br
	|                 Селото го основале, односно го обновиле, доселеници од Голо Брдо. Според кажувањата на денешните жители, синор (меѓа) на Пискупштина бил "балталукот" (област за која жителите на едно село имаат право на сечење дрва), напуштено место, на меѓата со селата на Јабланица, па така тие од Голо Брдо доаѓале и ја заземале земјата. Се верува дека старата Пискупштина се наоѓала во Старо Село, над Џеровска мала, (...). На границата накај Боровец се наоѓа Бигорската црква (...). На Деден некогаш имало село, а во поново време биле 'кошаре Јабланичана и Пискупштака'. На Станиште се наоѓа местото Гробишта со гробишта од чумата.
	br
	|                 На Краста е Калето. Некои велат дека тука се наоѓа дворецот на Кралот Марко, а други велат дека калето му припаѓа на Скендер-бег. Пониските села се рушевини на 'хана', шталите и гробиштата на турските војници на Мерсим-бег. Се зборува дека чифлигот бил сопственост на црквата Св. Никола во Нерези, па го зеле Турците: 1908 година селото Нерези го откупило и сега е селска сопственост.
	br
	|               Џеровци - Избегале од Стеблево поради Турците. Тука дошол Петре, петтиот предок на Русо Џероски значи пред некои 150 години. 
	br
	|               Грујовци - Со гранката Бежановци. Од Стеблево дошол Живко, четврти предок на Дојчин Грујоски. Нивното подалечно потекло е од Подгорица во Црна Гора. Се претпоставува дека од таму доаѓаат и останатите Стеблевчани. Се зборува дека и Домазетовци во Јабланица, се нивна гранка: дека се потомци на синот единец на Живко. (...)
	br
	|               Џутевци - Тие се исто така од Стеблево, од каде што дошол Дуко, четвртиот предок на Василиј Џутески. Нивното подалечно потекло е од Херцеговина. Нивните стари славеле Св. Атанасиј и Св. Архангел, (...).
	br
	|                 Анѓелковци - По потекло од Стеблево.
	br
	|                 Цацановци - Не се сите од еден род. Наум Цацаноски е по потекло од Глобочица и се презива Цацаноски по вујкото, а Трајко има потекло од Безево, тој е вистинскиот Цацаноски.
	br
	|                 (...)
	|                 Бешковци - Биле по потекло од Стеблево, (...). Славеле Св. Петка. Сега од нив во селото се останати само две куќи, но без машки членови; во едната од 1934 година е домазет Јован Чавкоски од Нерези.
p(style='font-style: italic; font-size: 15px;')
	| Оваа содржина е превземена од книгата M.,S., Filipovic, (1939), Debarski Drimkol, Skoplje: "Јужна Србија" . При преведувањето на македонски јазик беа изоставени некои зборови на поими, локации и историски податоци.
p
